<li class="collection-item">
    <h5>{{name}}</h5> {{#if eat}}
    <button class="change-eat waves-effect waves-light btn-floating teal lighten-1" data-id="{{id}}" data-neweat="{{eat}}">
        Eat
    </button>{{/if}}

    <button class="delete-burger waves-effect waves-light btn-small red lighten-1" data-id="{{this.id}}">Delete Burger</button>
</li>